pipeline/DeltaPipline.json
{
	"name": "DeltaPipline",
	"properties": {
		"activities": [
			{
				"name": "Lkp_Old_waterMarkDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select max(lastupdatetimestamp) as oldval from controltable",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Param_Table",
						"type": "DatasetReference",
						"parameters": {
							"Tab_Name": "controltable"
						}
					}
				}
			},
			{
				"name": "Lkp_present_watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select max(lastmodifytime) as newval from prd_src",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Param_Table",
						"type": "DatasetReference",
						"parameters": {
							"Tab_Name": "prd_src"
						}
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lkp_Old_waterMarkDate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lkp_present_watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from prd_src where\nlastmodifytime >='@{activity('Lkp_Old_waterMarkDate').output.firstRow.oldval}'\n\nand \nlastmodifytime <='@{activity('Lkp_present_watermark').output.firstRow.newval}'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Param_Table",
						"type": "DatasetReference",
						"parameters": {
							"Tab_Name": "prd_Src"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedDataset_Param",
						"type": "DatasetReference",
						"parameters": {
							"Filename": {
								"value": "@concat('Incremental','-',pipeline().RunId,'.csv')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updatecontroltbltmstp]",
					"storedProcedureParameters": {
						"vdatetime": {
							"value": "@{activity('Lkp_present_watermark').output.firstRow.newval}",
							"type": "DateTime"
						},
						"vtblname": {
							"value": "prd_src",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Delta_UsingControlTable"
		},
		"annotations": []
	}
}