adf-practice-shine/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-practice-shine"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DeltaPipline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lkp_Old_waterMarkDate",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select max(lastupdatetimestamp) as oldval from @{pipeline().parameters.ControlTabName} where tablename = '@{pipeline().parameters.TabName}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Param_Table",
								"type": "DatasetReference",
								"parameters": {
									"Tab_Name_Tgt": {
										"value": "@pipeline().parameters.ControlTabName",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "Lkp_present_watermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select max(lastmodifytime) as newval from @{pipeline().parameters.TabName}",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Param_Table",
								"type": "DatasetReference",
								"parameters": {
									"Tab_Name_Tgt": {
										"value": "@pipeline().parameters.TabName",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lkp_Old_waterMarkDate",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Lkp_present_watermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select * from @{pipeline().parameters.TabName} where\nlastmodifytime >'@{activity('Lkp_Old_waterMarkDate').output.firstRow.oldval}'\nand \nlastmodifytime <='@{activity('Lkp_present_watermark').output.firstRow.newval}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Param_Table",
								"type": "DatasetReference",
								"parameters": {
									"Tab_Name_Tgt": {
										"value": "@pipeline().parameters.TabName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedDataset_Param",
								"type": "DatasetReference",
								"parameters": {
									"Filename": {
										"value": "@concat('Incremental','-',pipeline().RunId,'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[updatecontroltbltmstp]",
							"storedProcedureParameters": {
								"vdatetime": {
									"value": {
										"value": "@{activity('Lkp_present_watermark').output.firstRow.newval}",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"vtblname": {
									"value": {
										"value": "@pipeline().parameters.TabName",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"TabName": {
						"type": "string"
					},
					"ControlTabName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Delta_UsingControlTable"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Query_In_CopyActivity_Pass_ParameterVal')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('select * from sales where country =''',pipeline().parameters.country,'''')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SalesTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ToSalesData",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"country": {
						"type": "string",
						"defaultValue": "India"
					}
				},
				"folder": {
					"name": "Parametertized"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pip_Dynamic_FileName')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_Input_to_Output",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Param_Inupt_Pass_FileName",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "@pipeline().globalParameters.File_Name",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Param_Output_Pass_FileName",
								"type": "DatasetReference",
								"parameters": {
									"File_Output": {
										"value": "@concat('emp',utcNow('yyyymmddhhmmss'),'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "DynamicFileName"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pip_Split_Based_on_Region_Variable')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('Region')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('select * from sales_tbl where country=''',item(),'''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Param_Table",
											"type": "DatasetReference",
											"parameters": {
												"Tab_Name_Tgt": "sales_tbl"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Param_Delimited_Output",
											"type": "DatasetReference",
											"parameters": {
												"File_Output": {
													"value": "@concat(item(),'.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Region": {
						"type": "Array",
						"defaultValue": [
							"India",
							"USA"
						]
					}
				},
				"folder": {
					"name": "Variables_Region_FileSplit"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pip_passquery_through_setvariable')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('var_Contry')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@variables('var_Contry')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Param_Table",
											"type": "DatasetReference",
											"parameters": {
												"Tab_Name_Tgt": "sales_tbl"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Param_Delimited_Output",
											"type": "DatasetReference",
											"parameters": {
												"File_Output": {
													"value": "@concat(item(),'.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "var_Contry",
							"value": {
								"value": "select saleid,saledate,country,item,value from sales_tbl where country = '@{pipeline().parameters.Country}'",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Country": {
						"type": "string"
					}
				},
				"variables": {
					"var_Contry": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Pass_SqlQuery_To_Variable"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_line_DeleteFiles_UsingSQLDBTable')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_TogetFolders",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select folder,type from  DELETE_map",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "db_folders",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_To_GetAllValues",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_TogetFolders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_TogetFolders').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Delete1",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ToDeleteFilesBasedonTable",
											"type": "DatasetReference",
											"parameters": {
												"FolderName": {
													"value": "@item().folder",
													"type": "Expression"
												}
											}
										},
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "ToDeleteFilesBasedonTableData",
												"type": "LinkedServiceReference"
											},
											"path": "target"
										},
										"enableLogging": true,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": false,
											"wildcardFileName": {
												"value": "@{item().type}",
												"type": "Expression"
											},
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_ExeclMultipSheet_ArrayDirectVal')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach_ToSheet_CreateTable",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Sheet",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Excel_LoadMultisheet",
											"type": "DatasetReference",
											"parameters": {
												"Sheetname": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ExcelLoading_MultiSheet",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Sheet": {
						"type": "array",
						"defaultValue": [
							"sales",
							"dept_hr",
							"dept_finance"
						]
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_ExeclMultipSheet_with_ParamArray')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach_ToSheet_CreateTable",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.SheetName",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Excel_LoadMultisheet",
											"type": "DatasetReference",
											"parameters": {
												"Sheetname": {
													"value": "@item().SheetName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ExcelLoading_MultiSheet",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@item().SheetName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SheetName": {
						"type": "array",
						"defaultValue": [
							{
								"SheetName": "sales"
							},
							{
								"SheetName": "dept_hr"
							},
							{
								"SheetName": "dept_finance"
							}
						]
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ToCaptureBadRows')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DelimitedDataset_Param",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Param_Table",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "Param_Table",
								"type": "DatasetReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "split1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          SalesID as integer,",
						"          Date as string,",
						"          country as string,",
						"          item as integer,",
						"          qty as integer,",
						"          value as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 split(isNull(toDate(Date,'mm-dd-yyyy')),",
						"     disjoint: false) ~> split1@(ErrorRows, GoodRows)",
						"split1@ErrorRows sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          emp_key as integer,",
						"          emp_id as integer,",
						"          fname as string,",
						"          lname as string,",
						"          DOB as date,",
						"          mobile as string,",
						"          gender as string,",
						"          address as string,",
						"          city as string,",
						"          Is_active as string,",
						"          create_dt as timestamp,",
						"          ef_start_dt as timestamp,",
						"          ef_end_dt as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          saleid = SalesID,",
						"          saledate = Date,",
						"          country,",
						"          item,",
						"          value",
						"     )) ~> sink1",
						"split1@GoodRows sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          emp_key as integer,",
						"          emp_id as integer,",
						"          fname as string,",
						"          lname as string,",
						"          DOB as date,",
						"          mobile as string,",
						"          gender as string,",
						"          address as string,",
						"          city as string,",
						"          Is_active as string,",
						"          create_dt as timestamp,",
						"          ef_start_dt as timestamp,",
						"          ef_end_dt as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          saleid = SalesID,",
						"          saledate = Date,",
						"          country,",
						"          item,",
						"          value",
						"     )) ~> sink2"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/empdata_fixedlength')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DelimitedDataset_Param",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Param_Table",
								"type": "DatasetReference"
							},
							"name": "sinkemp"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Column_1 as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 derive(empid = toInteger(substring(Column_1, 1, 4)),",
						"          empname = substring(Column_1, 5, 16),",
						"          state = substring(Column_1, 21, 2),",
						"          phonenumber = substring(Column_1, 23, 10)) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          emp_key as integer,",
						"          emp_id as integer,",
						"          fname as string,",
						"          lname as string,",
						"          DOB as date,",
						"          mobile as string,",
						"          gender as string,",
						"          address as string,",
						"          city as string,",
						"          Is_active as string,",
						"          create_dt as timestamp,",
						"          ef_start_dt as timestamp,",
						"          ef_end_dt as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          empid,",
						"          name = empname,",
						"          state,",
						"          phoeno = phonenumber",
						"     )) ~> sinkemp"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/scdtype1_usingalterrow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "SCD1"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Param_Src",
								"type": "DatasetReference"
							},
							"name": "EmpSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Param_Table",
								"type": "DatasetReference"
							},
							"name": "sinkEmployee"
						}
					],
					"transformations": [
						{
							"name": "alterRow1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          empno as integer,",
						"          ename as string,",
						"          firstname as string,",
						"          lastname as string,",
						"          sal as double,",
						"          department as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> EmpSource",
						"EmpSource alterRow(upsertIf(1==1)) ~> alterRow1",
						"alterRow1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          emp_key as integer,",
						"          emp_id as integer,",
						"          fname as string,",
						"          lname as string,",
						"          DOB as date,",
						"          mobile as string,",
						"          gender as string,",
						"          address as string,",
						"          city as string,",
						"          Is_active as string,",
						"          create_dt as timestamp,",
						"          ef_start_dt as timestamp,",
						"          ef_end_dt as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['empno'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sinkEmployee"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dfl_SCD2')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "SCD2"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Param_Src",
								"type": "DatasetReference"
							},
							"name": "srcemployeesrc"
						},
						{
							"dataset": {
								"referenceName": "Param_Table",
								"type": "DatasetReference"
							},
							"name": "srcTarget"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Param_Table",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "Param_Table",
								"type": "DatasetReference"
							},
							"name": "sinkU"
						}
					],
					"transformations": [
						{
							"name": "lookup1"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "splitCheck"
						},
						{
							"name": "select1",
							"description": "Renaming srcemployeesrc to select1 with columns 'src_emp_id, src_fname, lname, DOB, salary, mobile, gender, address, city, created_dt, last_update_date'"
						},
						{
							"name": "alterRow1"
						},
						{
							"name": "alterRow2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          emp_id as integer,",
						"          fname as string,",
						"          lname as string,",
						"          DOB as date,",
						"          salary as double,",
						"          mobile as string,",
						"          gender as string,",
						"          address as string,",
						"          city as string,",
						"          created_dt as timestamp,",
						"          last_update_date as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> srcemployeesrc",
						"source(output(",
						"          emp_key as integer,",
						"          emp_id as integer,",
						"          fname as string,",
						"          lname as string,",
						"          DOB as date,",
						"          mobile as string,",
						"          gender as string,",
						"          address as string,",
						"          city as string,",
						"          Is_active as string,",
						"          create_dt as timestamp,",
						"          ef_start_dt as timestamp,",
						"          ef_end_dt as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> srcTarget",
						"select1, srcTarget lookup(src_emp_id == emp_id,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup1",
						"lookup1 derive(is_active_Insert = 1,",
						"          end_date = addDays(currentTimestamp(),9999),",
						"          is_active_update = 0,",
						"          curren_endDate = currentTimestamp()) ~> derivedColumn1",
						"derivedColumn1 split(isNull(emp_key),",
						"     disjoint: true) ~> splitCheck@(I, U)",
						"srcemployeesrc select(mapColumn(",
						"          src_emp_id = emp_id,",
						"          src_fname = fname,",
						"          src_lname = lname,",
						"          src_DOB = DOB,",
						"          src_salary = salary,",
						"          src_mobile = mobile,",
						"          src_gender = gender,",
						"          src_address = address,",
						"          src_city = city,",
						"          src_created_dt = created_dt,",
						"          src_last_update_date = last_update_date",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"splitCheck@U alterRow(updateIf(1==1)) ~> alterRow1",
						"splitCheck@I alterRow(insertIf(1 == 1)) ~> alterRow2",
						"alterRow2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          emp_key as integer,",
						"          emp_id as integer,",
						"          fname as string,",
						"          lname as string,",
						"          DOB as date,",
						"          mobile as string,",
						"          gender as string,",
						"          address as string,",
						"          city as string,",
						"          Is_active as string,",
						"          create_dt as timestamp,",
						"          ef_start_dt as timestamp,",
						"          ef_end_dt as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 2,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          emp_id = src_emp_id,",
						"          fname = src_fname,",
						"          lname = src_lname,",
						"          DOB = src_DOB,",
						"          mobile = src_mobile,",
						"          gender = src_gender,",
						"          address = src_address,",
						"          city = src_city,",
						"          Is_active = is_active_Insert,",
						"          ef_start_dt = src_last_update_date,",
						"          create_dt = src_created_dt,",
						"          ef_end_dt = end_date",
						"     )) ~> sink1",
						"alterRow1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          emp_key as integer,",
						"          emp_id as integer,",
						"          fname as string,",
						"          lname as string,",
						"          DOB as date,",
						"          mobile as string,",
						"          gender as string,",
						"          address as string,",
						"          city as string,",
						"          Is_active as string,",
						"          create_dt as timestamp,",
						"          ef_start_dt as timestamp,",
						"          ef_end_dt as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:true,",
						"     upsertable:false,",
						"     keys:['emp_key'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 1,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          emp_id,",
						"          fname,",
						"          lname,",
						"          DOB,",
						"          mobile,",
						"          gender,",
						"          address,",
						"          city,",
						"          Is_active = is_active_update,",
						"          create_dt,",
						"          ef_start_dt,",
						"          ef_end_dt = curren_endDate,",
						"          emp_key",
						"     )) ~> sinkU"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ToFilterBadRecords')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ToCaptureBadRows",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "ToCaptureBadRows",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {
										"Filename": {
											"value": "@pipeline().parameters.Fname",
											"type": "Expression"
										}
									},
									"sink1": {
										"Tab_Name_Tgt": {
											"value": "@pipeline().parameters.tbl",
											"type": "Expression"
										}
									},
									"sink2": {
										"Tab_Name_Tgt": {
											"value": "@pipeline().parameters.tbl",
											"type": "Expression"
										}
									}
								},
								"linkedServiceParameters": {
									"sink1": {
										"schemaLinkedService": {
											"Tab_Name": {
												"value": "@pipeline().parameters.tbl",
												"type": "Expression"
											}
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Fname": {
						"type": "string",
						"defaultValue": "salesDateCorrupted.csv"
					},
					"tbl": {
						"type": "string",
						"defaultValue": "sales_tbl"
					}
				},
				"folder": {
					"name": "Parametertized"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/ToCaptureBadRows')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pip_Fixedlength_Record_seperation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "empdata_fixedlength",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "empdata_fixedlength",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {
										"Filename": {
											"value": "@pipeline().parameters.Fname",
											"type": "Expression"
										}
									},
									"sinkemp": {
										"Tab_Name_Tgt": {
											"value": "@pipeline().parameters.tal",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Fname": {
						"type": "string",
						"defaultValue": "emp.csv"
					},
					"tal": {
						"type": "string",
						"defaultValue": "emp"
					}
				},
				"folder": {
					"name": "Parametertized"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/empdata_fixedlength')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pip_scd1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "scdtype1_usingalterrow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "scdtype1_usingalterrow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"EmpSource": {
										"Tal_Source": "employee"
									},
									"sinkEmployee": {
										"Tab_Name_Tgt": "employee_final_scd1"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "SCD"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/scdtype1_usingalterrow')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pip_scd2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Dt_flow_scd2",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dfl_SCD2",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcemployeesrc": {
										"Tal_Source": "employee_src"
									},
									"srcTarget": {
										"Tab_Name_Tgt": "employee_dim"
									},
									"sink1": {
										"Tab_Name_Tgt": "employee_dim"
									},
									"sinkU": {
										"Tab_Name_Tgt": "employee_dim"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "SCD"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dfl_SCD2')]"
			]
		}
	]
}